<% content_for :header do %>Reported Items<% end %>

<% unless @reported_items.blank? %>
	<%= render :partial => 'reported_item_list', :locals => {:items => @reported_items} %>
<% else %>
	<p>No items reported!</p>
<% end %>