@charset "utf-8";

html {
	overflow-y: scroll;
}

body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0px;
}

a:link, a:visited {
	color: #a51c30;
}

a:hover {
	color: #bb343f;
}

#content-header a {
  color: #ffffff;
}

h2 {
	font-size: 19px;
	margin-bottom: 5px;
}

p {
	line-height: 20px;
	margin-top: 5px;	
}

dt {
  margin-top: 10px;
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

.clear {
	clear: both;
}

#header {
	background-color: #ffffff;
	margin: 0px auto;
	width: 500px;
}

#logo {
	padding: 10px 0px 12px 15px;
}

#logo a, #logo span {
	display: block;
	height: 65px;
	width: 350px;
}

#logo span #home-logo {
    background: url("/assets/logo_archives.png") no-repeat scroll left top transparent;
    display: block;
    height: 65px;
    text-indent: -9999px;
}

#container {
	width: 100%;
}

#utility {
	float: right;
	margin: 15px 0px 15px 0px;
}

/* Body */

fieldset {
	border: none;
}	

.notice, .alert, .error {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
}

.error {
  color: #A51C30;
}

.alert {
  /*color: #4e84c4;*/
}

#content li {
	margin-top: 10px;
}

#footer {
	border-top: 1px solid #bac5c6;
	clear: both;
	margin: 0px auto 15px;
	padding: 10px 0px 0px 15px;
}

h1 {
	font-size: 22px;
	clear: both;
	display: block;
	margin: 0px;
	padding: 10px 0px 10px 20px;
	width: 100%;
}

h2 {
	font-size: 18px;
	clear: both;
	display: block;
	margin: 0px;
	padding: 10px 0px 10px 20px;
	width: 100%;
}

h3 {
	font-size: 16px;
	clear: both;
	display: block;
	margin: 0px;
	padding: 10px 0px 0px 20px;
	width: 100%;
}

li {
	list-style-type: none;
	padding-bottom: 4px;
}

form.formtastic fieldset.inline_fields  ol {
    margin-left: 13.5%;
}
    
form.formtastic fieldset.inline_fields  li {
    float: left;
    width: 100px;
    margin-right: 1em;
}