<p>Click on the tag name to find all items with that tag.</p>

<% unless @tags.nil? %>
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <%= link_to tag.name, item_search_tagged_items_path(:query => tag.name), :class => css_class %>
	<% end %>
<% else %>
	No tags yet!
<% end %>	