<h2>Welcome!</h2>
<br />
<p>Welcome to the Tagging Archives application. Tagging Archives is a bookmarklet used within your web browser to quickly tag and annotate finding aids within OASIS or items within PDS or VIA.</p>

<%= render :partial => 'shared/bookmarklet_link' %>

<p>Once you have saved the bookmarklet in your browser, you can then tag a finding aid in OASIS, a PDS item or a VIA item. Just open the finding aid, then click on the Tagging Archives bookmarklet to tag or add notes to that particular finding aid, PDS item or VIA item.</p>

<h2><%= link_to "View All Tagged Items", all_items_tagged_items_path %></h2>
<h2><%= link_to "View All Tags", all_tags_tagged_items_path %></h2>
<% if current_user.admin? %>
	<h2><%= link_to "View All Reported Items", reported_items_path %></h2>
<% end %>	