<h2>Welcome!</h2>
<br />
<p>Welcome to the Tagging Archives application. Tagging Archives is a bookmarklet, or button, that you add to your browser’s bookmarks. It enables you to quickly tag and annotate finding aids within OASIS or items within PDS or VIA without leaving your page. You can search tagged items from the Tagging Archives application or from a link in OASIS.</p>

<%= render :partial => 'shared/bookmarklet_link' %>

<p>To tag, click the bookmarklet from a finding aid, PDS item, or VIA item.</p>

<h2><%= link_to "View All Tagged Items", all_items_tagged_items_path %></h2>
<h2><%= link_to "View All Tags", all_tags_tagged_items_path %></h2>
<% if current_user.admin? %>
	<h2><%= link_to "View All Reported Items", reported_items_path %></h2>
<% end %>	