<% content_for :header do %>Search Results<% end %>

<%= render :partial => 'shared/navigation' %>

<p>Search Term: <%= @query %></p>

<% if @search.total == 0 %>
	<h3>Nothing. Please try a different term.</h3>
<% else %>
	<%= render :partial => 'tagged_item_list', :locals => {:items => @search.results} %>	
<% end %>